.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 34px;
  padding-right: 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 16rem;
  overflow-y: auto;
  padding-top: 41px;
}

.title {
  margin-top: 10px
}

.main-card {
  width: 56rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.patient-details-container {
  padding-top: 20px !important;
  padding: 10px;
}

.form-lables {
  font-size: 13px;
}

.card-custom-border {
  top: 10px;
  border-width: 2px !important;
  box-shadow: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-custom-patient-deta {
  padding: 15px;
  top: 10px;
  border-width: 2px !important;
  box-shadow: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 561px;
  height: 379px !important;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 318px;
  width: 504px;
  border: 3px dashed rgb(0, 0, 0);
  padding: 2rem;
  border-radius: 10px;
  background-color: gainsboro;
}

.recent-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 141px;
  width: 558px;
  padding: 2rem;
  border-radius: 10px;
  background-color: gainsboro;
}

.patient-detail-title {
  font-weight: bold;
}

.image {
  border-radius: 10px;
  height: 300px;
  width: 490px;
}

.recent-uplode-container {
  padding: 5px;
  max-height: 143px;
  overflow-y: auto;
  background-color: gainsboro;
  border-radius: 5px;
}

.recent-uplode-container-expanded {
  padding: 5px;
  max-height: 261px;
  overflow-y: auto;
  background-color: gainsboro;
  ;
  border-radius: 5px;
}

.delete-bin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
}

.save-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-weight: bold;
  padding: 5px;
}

.current-card-image {
  border-radius: 4px;
  height: 60px;
  width: 60px;
}

.card-msg {
  font-size: 12px;
  padding: 5px;
  font-style: oblique;
  color: gray;
  font-weight: bold;
}

.after-uplode-btn {
  padding: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.reuplode-btn {
  font-size: 12px !important;
}

.select-btn {
  font-size: 12px !important;
  font-weight: bold !important;
}

.save-btn {
  font-size: 12px !important;
}

.select {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.image-uploding {
  height: 58px;
}

.file {
  padding-left: 12px;
}

.file-content {
  padding: 10px;
}

.file-name {
  font-size: 12px;
  font-weight: bold;
}

.progress-bar {
  width: 460px;
}

.uploding-card {
  padding: 8px;
  width: 35rem;
  height: 75px !important;
}

.recent-uploding-card {
  padding: 8px;
  width: 275px;
  height: 75px !important;
}

.recent-file-name {
  font-size: 15px;
  padding-left: 5px;
}

.recent-file-size {
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

.small-input {
  font-size: 12px !important;
}

.form-control-btn {
  display: flex;
  padding-top: 31px;
  flex-direction: row-reverse;
}

.proceed-btn {
  padding-right: 25px;
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  width: 584px;
  max-height: 162px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.flex-card-expanded {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  width: 584px;
  max-height: 257px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.card-container {
  flex-basis: calc(50% - 16px);
  flex-grow: 1;
  max-width: calc(50% - 16px);
}

.form-control-btn-text {
  font-size: 12px !important;
}

.logout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout svg {
  margin-right: 10px;
}

.side-nav {
  width: 261px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #34495E;
  color: #ECF0F1;
}

.nav-logo {
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  background: teal;
}

.nav-item-icon {
  margin-right: 10px;
  /* Spacing between icon and text */
}

.nav-footer {
  margin-top: auto;
  /* Pushes the footer to the bottom */
}

.nav-items li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-items svg {
  margin-right: 10px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-link.active {
  background: #2980B9;
  color: #FFFFFF;
}

.nav-link:hover {
  background: #5f99bf;
  color: #FFFFFF;
}

.nav-bar-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

.nav-item-text {
  font-size: 13px;
  font-weight: bold;
  padding-left: 7px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  background: teal;
}

.nav-footer-item {
  color: white;
}

.nav-footer-item {
  text-decoration: none;
  background: teal;
  color: #FFFFFF;
}

.nav-footer-item:hover {
  text-decoration: none;
  background: #2980B9;
  color: #FFFFFF;
}

.pie-chart {
  padding-bottom: 10px;
}

.final-decison-title {
  font-size: 15px;
  font-family: monospace;
  font-weight: bold;
  padding-bottom: 11px;
}

.final-decision {
  font-size: 13px;
  font-family: monospace;
  padding-bottom: 11px;
}

.cognitive-card {
  padding-right: 21px;
}


/*Quiz screen css*/

.question-container {
  padding: 10px;
  border: 2px solid teal;
  border-radius: 10px;
  margin-bottom: 5px;
}

.question-container-tilte {
  font-size: 20px;
  font-weight: bold;
  padding-top: 13px;
}

.question-heading {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.question {
  font-size: 15px;
  font-weight: 500;
}

.quiz-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 15px;
  gap: 6px;
}

.next-btn {
  width: 121px;
  font-size: 12px !important;
  font-weight: bold !important;
}

.quiz-question-number-title {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  background-color: teal;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.question-number-title-content {
  display: flex;
  justify-content: start;
  gap: 71px;
  font-size: 13px;
}

.question-numbers {
  background-color: teal !important;
  color: white !important;
  font-weight: bold !important;
  border-color: teal !important;
}

.question-numbers-inactive {
  background-color: transparent !important;
  color: teal !important;
  font-weight: bold !important;
  border-color: teal !important;
  font-size: 13px !important;
}


.top-bar {
  width: calc(100% - 250px);
  background-color: teal;
  color: white;
  position: fixed;
  top: 0;
  left: 261px; 
  z-index: 10;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 9px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.center-content {
  text-align: center; 
}

.quiz-answer-input {
  width: 30rem !important;
  height: 3rem !important;
  border: 1px solid teal !important;
  font-size: 12px !important;
}

.sample-text {
  font-size: 25px;
  font-weight: bold;
}

.quiz-result-container {
  margin-left: 0rem;
}

.score-analysis-content {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
  background-color: transparent;
  border-radius: 10px;
  padding: 11px;
  margin-bottom: 9px;
  border: 2px solid teal;
}

.mmse-score {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-bottom: 5px;
  background-color: transparent;
  border-radius: 10px;
  padding: 11px;
  margin-bottom: 9px;
  border: 2px solid teal;
}

.correct-questions {
  font-size: 12px;
}

.correct-answer-staus {
  font-size: 12px;
  font-weight: bold;
  color: green;
}

.wrong-answer-staus {
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.quiz-analysis {
  font-size: 14px;
  font-weight: 500;
}

.visual-exam-image {
  width: 100px;
  height: auto;
  border: 2px solid teal;
  border-radius: 11px;
}

.desease-detection-text {
  font-size: 14px;
  font-weight: 500;
}

.diagnosis-container {
  border: 2px solid teal;
  border-radius: 6px;
  margin-top: 21px;
  width: 1101px;
}

.result-container {
  display: flex;
  flex-direction: column;
  gap: 293px;
}

.result-title {
  background-color: teal !important;
  color: white !important;
  font-size: 15px;
  font-weight: bold;
}

.result-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.result-container-both {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.tool-bar-title{
  font-weight: bold;
} 

.home-container{
  margin-left: -30px;
  width: 1180px;
}

.home-content-conatiner{
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
}

.home-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cadetblue;
  color: white;
  padding: 44px;
}

.home-text{
  font-size: 36px;
  font-weight: bold;
}

.img-styling{
  width: 43rem;
  height: 30rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.learn-more{
  width: 112px;
    padding: 10px;
    background-color: steelblue;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}

.about-disease-conatiner{
  padding: 14px;
}

.about-title{
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 11px;
}

.disease-stage{
  font-size: 18px;
    font-weight: bold;
}