.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title{
  margin-top: 10px
}

.main-card{
  width: 56rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.patient-details-container{
  padding-top: 20px !important;
  padding: 10px;
}

.form-lables{
  font-size: 13px;
}
.card-custom-border {
  top: 10px;
  border-width: 2px !important; 
  box-shadow: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-custom-patient-deta {
  padding: 15px;
  top: 10px;
  border-width: 2px !important; 
  box-shadow: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 561px;
  height: 379px !important;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 318px;
  width: 504px;
  border: 3px dashed rgb(0, 0, 0);
  padding: 2rem;
  border-radius: 10px;
  background-color: gainsboro;
}

.recent-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 141px;
  width: 558px;
  padding: 2rem;
  border-radius: 10px;
  background-color: gainsboro;
}

.patient-detail-title{
  font-weight: bold;
}

.image{
border-radius: 10px;
height: 300px;
width: 490px;
}

.recent-uplode-container{
  padding: 5px;
  max-height: 143px;
  overflow-y: auto;
  background-color: gainsboro;;
  border-radius: 5px;
}

.recent-uplode-container-expanded {
  padding: 5px;
  max-height: 261px;
  overflow-y: auto;
  background-color: gainsboro;;
  border-radius: 5px; /* Increased max-height */
}

.delete-bin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
}

.save-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title{
  font-weight: bold;
    padding: 5px;
}

.current-card-image{
  border-radius: 4px;
height: 60px;
width: 60px;
}
.card-msg{
  font-size: 12px;
  padding: 5px;
  font-style: oblique;
  color: gray;
  font-weight: bold;
}
.after-uplode-btn{
  padding: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:5px;
}

.reuplode-btn{
  font-size: 12px !important;
}

.select-btn{
  font-size: 12px !important;
}

.save-btn{
  font-size: 12px !important;
}

.select {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.image-uploding{
  height: 58px;
}

.file{
  padding-left: 12px;
}

.file-content{
  padding:10px;
}

.file-name{
  font-size: 12px;
  font-weight: bold;
}
.progress-bar{
  width:460px;
}

.uploding-card{
  padding: 8px;
  width: 35rem;
  height: 75px !important;
}

.recent-uploding-card{
  padding: 8px;
  width: 275px;
  height: 75px !important;
}

.recent-file-name{
  font-size: 15px;
  padding-left: 5px;
}

.recent-file-size{
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

.small-input {
  font-size: 12px !important;
}

.form-control-btn{
  display: flex;
  padding-top: 31px;
  flex-direction: row-reverse;
}

.proceed-btn{
  padding-right: 25px;
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  width: 584px;
  max-height: 162px;
  overflow-y: auto; 
  padding-bottom: 10px;
}

.flex-card-expanded {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  width: 584px;
  max-height: 257px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.card-container {
  flex-basis: calc(50% - 16px); 
  flex-grow: 1;
  max-width: calc(50% - 16px);
}

.form-control-btn-text{
  font-size: 12px !important;
}