.main{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .title{
    margin-top: 10px
  }
  
  .main-card{
    width: 56rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-lables{
    font-size: 14px;
  }
  .card-custom-border {
    top: 10px;
    border-width: 2px !important; 
    box-shadow: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-custom-patient-deta {
    padding: 15px;
    top: 10px;
    border-width: 2px !important; 
    box-shadow: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 561px;
    height: 379px !important;
  }
  
  .dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    border: 3px dashed rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 10px;
    background-color: gainsboro;
  }
  
  .patient-detail-title{
    font-weight: bold;
  }
  
  .image{
  border-radius: 10px;
  height: 290px;
  width: 390px;
  }
  
  .recent-uplode-container{
    padding: 5px;
    max-height: 143px;
    overflow-y: auto;
    background-color: gainsboro;;
    border-radius: 5px;
  }
  
  .recent-uplode-container-expanded {
    padding: 5px;
    max-height: 261px;
    overflow-y: auto;
    background-color: gainsboro;;
    border-radius: 5px; /* Increased max-height */
  }
  
  .delete-bin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8rem;
  }
  
  .save-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-title{
    font-weight: bold;
      padding: 5px;
  }
  
  .current-card-image{
    border-radius: 4px;
  height: 60px;
  width: 60px;
  }
  .card-msg{
    font-size: 12px;
    padding: 5px;
    font-style: oblique;
    color: gray;
    font-weight: bold;
  }
  .after-uplode-btn{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5px;
  }
  
  .reuplode-btn{
    font-size: 12px !important;
  }
  
  .select-btn{
    font-size: 12px !important;
  }
  
  .save-btn{
    font-size: 12px !important;
  }
  
  .select {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .image-uploding{
    height: 58px;
  }
  
  .file{
    padding-left: 12px;
  }
  
  .file-content{
    padding:10px;
  }
  
  .file-name{
    font-size: 12px;
  }
  .progress-bar{
    width:15rem
  }
  
  .uploding-card{
    padding: 8px;
    width: 342px;
    height: 75px !important;
  }
  
  .recent-uploding-card{
    padding: 8px;
    width: 342px;
    height: 75px !important;
  }
  
  .recent-file-name{
    font-size: 15px;
    padding-left: 5px;
  }
  
  .recent-file-size{
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .small-input {
    height: 30px;
    font-size: 12px !important;
  }